<!doctype html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="ThemeStarz">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/odometer-theme-default.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<title>Selfer - Personal Portfolio Template</title>

</head>
<body data-spy="scroll" data-target=".navbar" class="has-loading-screen">
    <div class="ts-page-wrapper" id="page-top">
        <!--NAVIGATION ******************************************************************************************-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--end navbar-toggler-->
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav d-block d-lg-flex ml-auto text-right">
                        <a class="nav-item nav-link active ts-scroll" href="#page-top">Home <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link ts-scroll" href="#my-services">Services</a>
                        <a class="nav-item nav-link ts-scroll" href="#about-me">About Me</a>
                        <a class="nav-item nav-link ts-scroll" href="#my-skills">Skills</a>
                        <a class="nav-item nav-link ts-scroll" href="#testimonials">Clients</a>
                        <a class="nav-item nav-link ts-scroll mr-2" href="#form-contact">Contact</a>
                    </div>
                    <!--end navbar-nav-->
                </div>
                <!--end collapse-->
            </div>
            <!--end container-->
        </nav>
        <!--end navbar-->
        <!--*********************************************************************************************************-->
        <!--************ HERO ***************************************************************************************-->
        <!--*********************************************************************************************************-->
        <div id="ts-hero" class="ts-animate-hero-items">

            <!--HERO CONTENT ****************************************************************************************-->
            <div class="container position-relative h-100 ts-align__vertical">
                <div class="row w-100">
                    <div class="col-md-8">
                        <!--SOCIAL ICONS-->
                        <figure class="ts-social-icons mb-4">
                            <a href="{{ socail.fb }}" class="mr-3">
                                <i class="fab fa-facebook bg-success"></i>
                            </a>
                            <a href="#" class="mr-3">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="{{ socail.instragam }}" class="mr-3">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="" class="mr-3">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </figure>

                        <!--TITLE -->
                        <h1>I am {{ heading.title }}</h1>
                        <h1 class="ts-bubble-border">
                            <span class="ts-title-rotate">

                                <span class="active">{{ heading.service.first.title }}</span>

                                {% for i in heading.service.all|slice:"1:" %}
                                <span>{{ i.title }}</span>
                                {% endfor %}
                            </span>
                        </h1>

                    </div>
                    <!--end col-md-8-->
                </div>
                <!--end row-->
                <a href="#my-services" class="ts-btn-effect position-absolute ts-bottom__0 ts-left__0 ts-scroll ml-3 mb-3">
                    <span class="ts-visible ts-circle__sm rounded-0 ts-bg-primary">
                        <i class="fa fa-arrow-down text-white"></i>
                    </span>
                    <span class="ts-hidden ts-circle__sm rounded-0">
                        <i class="fa fa-arrow-down text-white"></i>
                    </span>
                </a>

            </div>
            <!--end container-->
            <!--END HERO CONTENT ************************************************************************************-->

            <!--HERO BACKGROUND *************************************************************************************-->
            <div class="ts-background">
                <div class="ts-background-image" data-bg-image="{{ heading.image.url }}"></div>
            </div>
            <!--END HERO BACKGROUND *********************************************************************************-->

        </div>
        <!--end #hero-->

        <!--*********************************************************************************************************-->
        <!--************ CONTENT ************************************************************************************-->
        <!--*********************************************************************************************************-->
        <main id="ts-content">

            <!--MY SERVICES ***********************************************************************************-->
            <section id="my-services" class="ts-block ts-xs-text-center pb-0">
                <div class="container">
                    <div class="ts-title text-center">
                        <h2>My Services</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row">
                       {% for i in services %}
                        <div class="col-sm-6 col-md-4 col-xl-4">
                            <div class="ts-item" data-animate="ts-fadeInUp">
                                <div class="ts-item-content">
                                    <div class="ts-item-header">
                                        <figure class="icon">
                                            <img src="{{ i.icon.url }}" alt="">
                                        </figure>
                                        <!--end icon-->
                                    </div>
                                    <!--end ts-item-header-->
                                    <div class="ts-item-body">
                                        <h4>{{ i.title }}</h4>
                                        <p class="mb-0">
                                            {{ i.description|slice:":105" }}
                                        </p>
                                    </div>
                                    <!--end ts-item-body-->
                                    <div class="ts-item-footer">
                                        <a href="#" data-toggle="modal" data-target="#modal_{{ i.id }}" class="ts-link-arrow-effect">
                                            <span>Read More</span>
                                        </a>
                                    </div>

                                </div>
                                <!--end ts-item-content-->
                            </div>
                            <!--end ts-item-->
                        </div>
                       {% endfor %}
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
            <!--END MY SERVICES *************************************************************************************-->

            <section id="about-me" class="ts-block pb-4">
                <div class="container">
                    <div class="ts-title text-center">
                        <h2>About Me</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row ts-align__vertical">
                        <div class="col-md-6">
                            <img src="{{ about.image.url }}" alt="" class="mw-100 mb-5">
                        </div>
                        <div class="col-md-6">
                            <h4 class="ts-bubble-border">Hi There</h4>
                            <p>
                               {{ about.details }}
                            </p>
                            <dl class="ts-column-count-2">
                                <dt>Name:</dt>
                                <dd>{{ about.name }}</dd>
                                <dt>Phone:</dt>
                                <dd>{{ about.phone }}</dd>
                                <dt>Email:</dt>
                                <dd>{{ about.email }}</dd>
                                <dt>Career:</dt>
                                <dd>{{ about.career }}</dd>
                            </dl>
                            <hr class="ts-hr-light mb-5">
                            <a href="#contact" class="ts-btn-effect mr-2">
                                <span class="ts-visible btn btn-primary ts-btn-arrow">Contact Me</span>
                                <span class="ts-hidden btn btn-primary ts-btn-arrow" data-bg-color="#d44729">Contact Me</span>
                            </a>

                            <a href="{{ my_cv.cv.url }}" target="_blank" class="ts-btn-effect mr-2">
                                <span class="ts-visible btn btn-outline-light">
                                    <i class="fa fa-download small mr-2"></i>
                                    Download CV
                                </span>
                                <span class="ts-hidden btn btn-light bg-white">
                                    <i class="fa fa-download small mr-2"></i>
                                    Download CVs
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end row-->
                </div>
            </section>

            <section class="ts-block">
                <div class="container">
                    <div class="text-center px-5 pt-5 position-relative">
                        <h3 class="my-3">
                            Let’s Work Together On Your Next Project!
                        </h3>
                        <a href="#contact" class="btn btn-primary mr-2 ts-push-down__50 ts-has-talk-arrow">Hire Me Now!</a>
                        <div class="ts-background ts-opacity__20" data-bg-image="assets/img/bg-keyboard.jpg"></div>
                    </div>
                </div>
            </section>

            <section id="my-skills" class="ts-block pb-5">
                <div class="container">
                    <div class="ts-title text-center">
                        <h2>My Skills</h2>
                    </div>
                    <!--end ts-title-->
                    <h4>Education</h4>
                    <div class="row">
                        <div class="col-md-6">
                           <div class="row col-md-12">
                               {% for i in my_education %}
                               <div class="col-md-12 my-2">
                                   <h3>{{ i.name }} {{ i.year_name }}</h3>
                                   <h5>{{ i.org }}</h5>
                                   <h5>{{ i.group }}</h5>
                                    <h5>GPA :{{ i.hpa }}</h5>
                               </div>
                               {% endfor %}

                           </div>
                            <a href="#contact" class="btn btn-outline-light mb-5">Contact Me</a>
                        </div>
                        <!--end col-md-6-->
                        <div class="col-md-6">
                            {% for i in my_skill %}
                            <div class="progress" data-progress-width="{{ i.value }}%">
                                <h5 class="ts-progress-title">{{ i.name }}</h5>
                                <figure class="ts-progress-value"></figure>
                                <div class="progress-bar" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            {% endfor %}
                        </div>
                        <!--end col-md-6-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>

            <section class="ts-block" data-bg-image="assets/img/bg-man-sitting.jpg">
                <div class="container ts-promo-numbers">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="{{ my_car.clients }}">0</figure>
                                <h5>Clients</h5>
                            </div>
                            <!--end ts-promo-number-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="{{ my_car.projects }}">0</figure>
                                <h5>Projects</h5>
                            </div>
                            <!--end ts-promo-number-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="{{ my_car.award }}">0</figure>
                                <h5>Awards</h5>
                            </div>
                            <!--end ts-promo-number-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-sm-6 col-md-3">
                            <div class="ts-promo-number text-center">
                                <figure class="odometer" data-odometer-final="{{ my_car.experience }}">0</figure>
                                <h5>Years Experience</h5>
                            </div>
                            <!--end ts-promo-number-->
                        </div>
                        <!--end col-md-3-->
                    </div>
                </div>
            </section>
            <!--end ts-block-->

            <section id="testimonials" class="ts-block text-center pb-5">
                <div class="container">
                    <div class="ts-title">
                        <h2>User Feedback</h2>
                    </div>
                    <!--end ts-title-->
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="owl-carousel" data-owl-dots="1" data-owl-loop="1" data-animate="ts-fadeInUp">
                                <div class="slide mb-5">
                                    <figure class="d-inline-block p-3 ts-bg-primary text-white ts-has-talk-arrow">
                                        <i class="fa fa-quote-right"></i>
                                    </figure>
                                    <p class="ts-h5">
                                       He is a good developer with some excellent Skill and deliver the project on time
                                    </p>
                                    <h5>Rubel Khan</h5>
                                    <h6 class="ts-opacity__40">Web developer</h6>
                                </div>
                                <!--end slide-->
                                <div class="slide mb-5">
                                    <figure class="d-inline-block p-3 ts-bg-primary text-white ts-has-talk-arrow">
                                        <i class="fa fa-quote-right"></i>
                                    </figure>
                                    <p class="ts-h5">
                                       He is a nice guy and very friendly .He worked very hard and full-fill my requirement on time
                                    </p>
                                    <h5>Salam Sheikh</h5>
                                    <h6 class="ts-opacity__40">graphics Designer</h6>
                                </div>
                                <!--end slide-->
                            </div>
                            <!--end owl-carousel-->
                        </div>
                        <!--end col-md-8-->
                    </div>
                    <!--end row-->
                </div>
                <!--end container-->
            </section>
        </main>
        <!--end #content-->

        <!--*********************************************************************************************************-->
        <!--************ FOOTER *************************************************************************************-->
        <!--*********************************************************************************************************-->
        <footer id="ts-footer" class="mt-5">

            <section id="contact" class="ts-block ts-separate-bg-element" data-bg-image="assets/img/bg-man-wall.jpg" data-bg-image-opacity=".1">
                <div class="container">
                    <div class="ts-title text-center">
                        <h2 class="ts-bubble-border">Get In Touch</h2>
                    </div>
                    <div class="row ts-xs-text-center ">
                        <div class="col-sm-6 col-md-4 mb-4" data-animate="ts-fadeInUp">
                            <img src="{% static 'assets/img/icon-pin.png' %}" class="mb-4" alt="">
                            <h5>Address</h5>
                            <div class="ts-opacity__50">
                                <figure class="mb-0">{{ contact.address }}</figure>
                            </div>
                            <!--end ts-opacity__50-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-sm-6 col-md-4 mb-4" data-animate="ts-fadeInUp" data-delay=".1s">
                            <img src="{% static 'assets/img/icon-phone-02.png' %}" class="mb-4" alt="">
                            <h5>Phone</h5>
                            <div class="ts-opacity__50">
                                <figure class="mb-0">{{contact.phone_1 }}</figure>
                                <figure class="mb-0">{{contact.phone_2 }}</figure>
                            </div>
                            <!--end ts-opacity__50-->
                        </div>
                        <!--end col-md-3-->
                        <div class="col-sm-6 col-md-4 mb-4" data-animate="ts-fadeInUp" data-delay=".2s">
                            <img src="{% static 'assets/img/icon-envelope.png' %}" class="mb-4" alt="">
                            <h5>Email</h5>
                            <div class="ts-opacity__50">
                                <figure class="mb-0">{{contact.email_1 }}</figure>
                                <figure class="mb-0">{{contact.email_2}}</figure>
                            </div>
                            <!--end ts-opacity__50-->
                        </div>
                        <!--end col-md-3-->

                    </div>
                    <!--end row-->

                    <div class="pt-5">
                        <div class="row">
                            <div class="col-md-4">
                                <h3>Let’s Connect</h3>
                                <div class="ts-column-count-sm-2">
                                    <a href="{{socail.fb}}" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-facebook-f"></i>
                                    </span>
                                        <span>Facebook</span>
                                    </a>
                                    <!--end link-->
                                    <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-twitter"></i>
                                    </span>
                                        <span>Twitter</span>
                                    </a>
                                    <!--end link-->
                                    <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-instagram"></i>
                                    </span>
                                        <span>Instagram</span>
                                    </a>
                                    <!--end link-->
                                    <a href="{{socail.likedin}}" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-linkedin"></i>
                                    </span>
                                        <span>Linkedin</span>
                                    </a>
                                    <!--end link-->
                                    <a href="#" class="mb-3 d-flex text-white ts-align__vertical">
                                    <span class="ts-circle__xs border border-white ts-border-light mr-4">
                                        <i class="fab fa-skype"></i>
                                    </span>
                                        <span>Skype</span>
                                    </a>
                                    <!--end link-->
                                </div>
                            </div>
                            <!--end col-md-4-->
                            <div class="col-md-8">
                                <h3>Send Me a Message</h3>
                                {%for message in messages %}
                                {%if "contact" in message.tags %}
                                <div class="alert alert-success d-flex align-items-center" role="alert">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                  </svg>
                                  <div>
                                   &nbsp;{{ message }}
                                  </div>
                                </div>
                                  {% endif %}
                                {% endfor %}
                                <form  method="post" action="{% url 'index' %}">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                               {{ form.name|as_crispy_field }}
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-6 col-sm-6 -->
                                        <div class="col-md-6 col-sm-6">
                                            <div class="form-group">
                                                {{ form.email|as_crispy_field }}
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                        <!--end col-md-6 col-sm-6 -->
                                    </div>
                                    <!--end row -->
                                    <div class="form-group">
                                        {{ form.subject|as_crispy_field }}
                                    </div>
                                    <!--end form-group -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                               {{ form.message|as_crispy_field }}
                                            </div>
                                            <!--end form-group -->
                                        </div>
                                       <input type="hidden" name="next" value="{{ request.path }}">
                                    </div>
                                    <!--end row -->
                                    <div class="form-group clearfix">
                                        <button type="submit" class="btn btn-primary float-right ts-btn-arrow">Send a Message</button>
                                    </div>
                                    <!--end form-group -->
                                    <div class="form-contact-status"></div>
                                </form>
                                <!--end form-contact -->
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                </div>
                <!--end container-->
            </section>
            <!--end #contact-->

            <div class="text-dark bg-white">
                <div class="container py-3 position-relative">
                    <small>© 2021, All Rights Reserved by jafor sadik tutul</small>
                    <a href="#page-top" class="ts-circle__xs rounded-0 bg-dark position-absolute ts-right__0 ts-top__0 ts-push-up__50 ts-scroll">
                        <i class="fa fa-arrow-up text-white"></i>
                    </a>
                </div>
            </div>

        </footer>
        <!--end #footer-->
        {% for i in services %}
        <div class="modal fade text-dark" id="modal_{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content border-0 rounded-0">
                <div class="modal-header bg-light px-5 pt-0 pb-5">
                    <div class="ts-title mb-0">
                        <figure class="ts-circle__md bg-dark rounded-0">
                            <img src="{{ i.icon.url }}" alt="">
                        </figure>
                        <h4 class="mb-0">{{ i.title }}</h4>
                        <p>
                            {{ i.description }}
                        </p>
                    </div>

                    <button type="button" class="close position-absolute ts-top__0 ts-right__0 m-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body p-5">
                    <h5 class="mb-4">Latest Works</h5>
                    <div class="owl-carousel" data-owl-dots="1">
                       {% for wrk in i.work_list.all %}
                        <div class="slide">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="{{ wrk.image.url }}" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <h4 class="mb-3">{{ wrk.title }}</h4>
                                        <p>
                                          {{ wrk.description }}
                                        </p>
                                        <a href="{{ wrk.url }}" target="_blank" class="mb-4 text-dark d-block">
                                            <i class="fa fa-globe ts-opacity__50 mr-2"></i>
                                           Visit Website
                                        </a>
                                    </div>
                                    <!--end col-md-8-->
                                </div>
                                <!--end row-->
                            </div>
                            <!--end container-fluid-->
                        </div>
                        {% endfor %}
                        <!--end slide-->
                    </div>
                    <!--end owl-carousel-->
                </div>
                <!--end modal-body-->
            </div>
            <!--end modal-content-->
        </div>
        <!--end modal-dialog-->
    </div>
        {% endfor %}
    </div>
    <!--end page-->

    <!-- Modal -->

    <!--end modal-->

	<script src="{% static 'assets/js/custom.hero.js' %}"></script>
	<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
	<script src="{% static 'assets/js/isInViewport.jquery.js' %}"></script>
	<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'assets/js/scrolla.jquery.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery-validate.bootstrap-tooltip.min.js' %}"></script>
	<script src="{% static 'assets/js/odometer.min.js' %}"></script>
	<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

</body>
</html>
